#combinations{
	display:none;
}
#addon_sd_combinations_reportinstalled .bg-icon,
#addon_sd_combinations_report .bg-icon {
    background-image: url('../../../media/images/addons/sd_combinations_report/icon.png');
    background-size: contain;
    border: 0px;
}
#addon_sd_combinations_reportinstalled .bg-icon i,
#addon_sd_combinations_report .bg-icon i {
    display: none;
}
